.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form-input {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 30px;

    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;

    caret-color: rgb(95, 114, 226);
    color: rgb(33, 87, 202);
    transition: border 250ms linear;

    &:hover,
    &:focus {
        border: 2px solid rgb(33, 87, 202);
    }
}



.search-form-btn {
    margin-left: -31px;
    height: 30px;
    width: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    border-radius: 5px;
    border: none;

    background-color: transparent;
    cursor: pointer;
}

.search-form-btn-icon {
    width: 16px;
    height: 16px;

    fill: rgb(2, 2, 15);
    transition: fill 250ms linear;

    .search-form-btn:hover &,
    .search-form-btn:focus & {
        fill: rgb(33, 200, 202);
    }
}